.oculto {
    display: none;
}


/* Agregando la fuente de firma que me gusta */

@font-face {
    font-family: 'AcrossTheRoad';
    src: url(../fonts/AcrossTheRoad.ttf);
}

.spacio {
    margin: 8px 0px 8px;
}

.fSotnas {
    /* position: absolute; */
    font-family: AcrossTheRoad;
    font-weight: 300;
    font-size: 40px;
    color: white;
}

.fSotnas:hover {
    color: red;
    transition: ease-in-out .55s;
}

.caja{
    
    background-color: #007bff;
    color: white;
    width: 60px;
    height: 80px;
    font-size: 35px;
    margin-top: 0 auto;
    border-radius: 1px;
}

.caja:hover{
    background-color: #0372e9;
    
}
/* https://youtu.be/6BkKiiuTxo8?t=577 */